/*ENCABEZADO*/
a{
    text-decoration: none;
}
.logo{
    transform: scale(1);
    transition: ease-out 0.2s;
}

.logo:hover{
    transform: scale(0.89);
    transition: ease-out 0.2s;
}

.items-text{
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 10px;
    transition: ease-in-out 0.3s;
}

.items-text:hover{
    font-weight: bold;
    background-color: rgb(241, 233, 233);
    border-radius: 10px;
    margin-left: 10px;
    transition: ease-in-out 0.3s;
}

/* BARRA LATERAL */

.sidebar-text{
    color: black;
    transition: ease-in-out 0.2s;
}

.sidebar-text:hover{
    color: rgb(151, 127, 127);
    transition: ease-in-out 0.2s;
}

.selected{
    color: rgb(151, 127, 127);
    transition: ease-in-out 0.2s;
}

.selected:hover{
    color: rgb(117, 99, 99);
    transition: ease-in-out 0.2s;
}

.btn1-text{
    color: black;
    transition: ease-in-out 0.2s;
}

.btn1-text:hover{
    color: rgb(151, 127, 127);
    transition: ease-in-out 0.2s;
}

/* LOS CURSOS */
#cursospopulares .col-md-3 .card-mb-2{
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    text-align: center;
    align-content: center;
}
.col .card{
    border: none;
    text-align: center;
    align-content: center;
}

.col .card img{
    width: 25%;
    display: block;
    margin: auto;
}

/* Dentro del curso */
.list-group a{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#comentador{
    display: flex;
    flex-direction: row;
}