.sidebar-text{
    color: black;
    transition: ease-in-out 0.2s;
}

.sidebar-text:hover{
    color: rgb(151, 127, 127);
    transition: ease-in-out 0.2s;
}

.selected{
    color: rgb(151, 127, 127);
    transition: ease-in-out 0.2s;
}

.selected:hover{
    color: rgb(117, 99, 99);
    transition: ease-in-out 0.2s;
}

.btn1-text{
    color: black;
    transition: ease-in-out 0.2s;
}

.btn1-text:hover{
    color: rgb(151, 127, 127);
    transition: ease-in-out 0.2s;
}

/* botones */
#BotonAd{
    transition: ease-in-out 0.3s;
    background-color: rgb(7, 255, 160);
    
}

#BotonAd:hover{
    transition: ease-in-out 0.3s;
    background-color: rgb(254, 218, 36);
 
}

.btn-custom1{
    width: 150px; 
    height: 35px; 
 
}
